/* This file intentionally left blank. */
div.body h1 { margin-top: 0; padding-top: 0; font-size: 160%; }
div.body h2 { font-size: 150%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 120%; }
div.body h6 { font-size: 110%; }
